{% extends "base.html.twig" %}




{% block body %}

    <h1>Page administrateur</h1>

     {% if is_granted('IS_AUTHENTICATED_FULLY') %}   
        <p><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></p>
        
    <h1>Votre role dans cette page</h1>

    <p>Vous etes un : </p>


        <p>ADMINISTARTEUR</p>

        <p><a href="{{ path('form')}}">Accédez au formulaire élève</a></p>

        <p><a href="{{ path('form2')}}">Accédez au formulaire établissement</a></p>
        
        <p><a href="{{ path('formPays')}}">Accédez au formulaire pays</a></p>
    {% endif %}

{% endblock %}