{% extends '::base.html.twig' %}

{% block body %}
    <p>Bienvenue</p>
{% endblock %}
{# Emplacement pour mettre du style sur notre site web (c'est un fichier style.css) #}
{% block stylesheets %}
    <style>
        
        
    </style>
{% endblock %}
